<Font size = 5.5> NumPy -- Mathematical Computation.......

<Font size = 5.5> Data Manipulation with Pandas.....

<Font size = 5.5> Pandas <Br> <Font size = 4> Pandas

<Font size = 5.5> Data Structures in PYthon-- LIST,TUPLE,SET,DICTIONARY,RANGE.......

In [1]:
import pandas as pd  #### Importing the pandas Library

<Font size = 5.5> Series <br> Pandas Series objects are generally created from the following data types: <Br> <li> 1. Scalar (Single Value) <Br> <li> 2. ndarray <Br> <li> 3. Dictionary <Br> <li> 4. List

<Font size = 5> pd.Series (data,index,dtype) ---- Syntax of Series......in Pandas...

In [4]:
xx = pd.Series(["Aj", "SS", "Tavi", "Nomi"],index = [11,22,33,44])
xx

11      Aj
22      SS
33    Tavi
44    Nomi
dtype: object

In [5]:
xx = pd.Series([True, False, False, True],index = [11,22,33,44])
xx

11     True
22    False
33    False
44     True
dtype: bool

In [11]:
x1 = pd.Series({"A":[1,2,3],"B":[4,5,6],"C":[7,8,9]}, index = ["a","b","b"])
x1

a    NaN
b    NaN
b    NaN
dtype: object

In [12]:
x1 = pd.Series({"A":[1,2,3],"B":[4,5,6],"C":[7,8,9]}, index = ["a","b","c"])
x1

a    NaN
b    NaN
c    NaN
dtype: object

In [13]:
x1 = pd.Series({"A":[1,2,3],"B":[4,5,6],"C":[7,8,9]})
x1

A    [1, 2, 3]
B    [4, 5, 6]
C    [7, 8, 9]
dtype: object

In [3]:
## Creating Series from a Scalar Value....
x = pd.Series("String")
x

0    String
dtype: object

In [9]:
## Creating Series from a ndarray
import numpy as np
arr = np.array([11,22,33,44,55,66,77])
series1 = pd.Series(arr)
print(series1)

0    11
1    22
2    33
3    44
4    55
5    66
6    77
dtype: int32

In [10]:
### Creating Series from List

lst = [11,22,33,44,55,66]
S1 = pd.Series(lst)
print(S1)

0    11
1    22
2    33
3    44
4    55
5    66
dtype: int64

In [11]:
### Creating a Series from a Dictionary

### Keys of the dictionary will become the index

D1 = {"a":11,"b":22,"c":33,"d":44}
S2 = pd.Series(D1)
S2

a    11
b    22
c    33
d    44
dtype: int64

<font size = 5.5> Important.......

In [13]:
A = [1,2,3,4,5],{"a":11,"b":22,"c":33,"d":44},np.array([11,22,33,44])
S3 = pd.Series(A)
S3

0                         [1, 2, 3, 4, 5]
1    {'a': 11, 'b': 22, 'c': 33, 'd': 44}
2                        [11, 22, 33, 44]
dtype: object

<Font Size =5.5> Let's provide the index also

In [15]:
xx = pd.Series(["Welcome","to","vijAI"],index=["a","b","c"])
xx

a    Welcome
b         to
c      vijAI
dtype: object

In [16]:
x2 = pd.Series(["Welcome","to","vijAI"],index=[1,2,3])
x2

1    Welcome
2         to
3      vijAI
dtype: object

In [3]:
import pandas as pd

In [4]:
xx = pd.Series(["Welcome","to","vijAI"],index=["a","k","z"])
xx

a    Welcome
k         to
z      vijAI
dtype: object

In [14]:
xx = pd.Series(["Welcome","to","vijAI"],index=["a","1","1.1"])
xx

a      Welcome
1           to
1.1      vijAI
dtype: object

<font size  = 5.5> 19 OCT 2023

<Font size = 5.5> Important Operations..<br> <br>
    <FOnt size = 4.5> Data Alignment is Intrinsic...<br><br> 
        Using NumPy functions or NumPy operations, such as filtering with Boolean array and Scalar multiplication will preserve the index-value link.....

In [14]:
### Boolean Series...
y = pd.Series([1,2,3,4,4,7,2,3,8,9])
y>=4    ### This gives a Boolean Series

0    False
1    False
2    False
3     True
4     True
5     True
6    False
7    False
8     True
9     True
dtype: bool

<font size = 5.5> Important......same as in array....i.e. NumPy........

In [16]:
y[y>=4]

3    4
4    4
5    7
8    8
9    9
dtype: int64

In [16]:
### Multiplication with Scalar Quantity
y*3

0     3
1     6
2     9
3    12
4    12
5    21
6     6
7     9
8    24
9    27
dtype: int64

In [21]:
y-2

0   -1
1    0
2    1
3    2
4    2
5    5
6    0
7    1
8    6
9    7
dtype: int64

In [22]:
y+5

0     6
1     7
2     8
3     9
4     9
5    12
6     7
7     8
8    13
9    14
dtype: int64

In [23]:
y/2

0    0.5
1    1.0
2    1.5
3    2.0
4    2.0
5    3.5
6    1.0
7    1.5
8    4.0
9    4.5
dtype: float64

In [24]:
y**2

0     1
1     4
2     9
3    16
4    16
5    49
6     4
7     9
8    64
9    81
dtype: int64

In [25]:
np.sqrt(y)   ### Square root.....

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.000000
5    2.645751
6    1.414214
7    1.732051
8    2.828427
9    3.000000
dtype: float64

In [26]:
np.cbrt(y)  #### Cube root....

0    1.000000
1    1.259921
2    1.442250
3    1.587401
4    1.587401
5    1.912931
6    1.259921
7    1.442250
8    2.000000
9    2.080084
dtype: float64

In [28]:
A = pd.Series([1,3,5,6,7,8])    ### Addition of two series....
B = pd.Series([2,4,5,7,9])
A+B,A-B                         ### NaN....."Not a Number"

(0     3.0
 1     7.0
 2    10.0
 3    13.0
 4    16.0
 5     NaN
 dtype: float64,
 0   -1.0
 1   -1.0
 2    0.0
 3   -1.0
 4   -2.0
 5    NaN
 dtype: float64)

In [30]:
A = pd.Series(["A","C","E","G"])    ### Addition of two series....
B = pd.Series(["a","c","e","g"])
A+B

0    Aa
1    Cc
2    Ee
3    Gg
dtype: object

In [34]:
AA = pd.Series([1,2,3,"Aj","SS",[1,2,3]])   ### Heterogenous Data Type....
AA

0            1
1            2
2            3
3           Aj
4           SS
5    [1, 2, 3]
dtype: object

In [37]:
A = pd.Series([1,3,5,6,7],index = [1,2,3,4,5])    ### Addition of two series....
B = pd.Series([2,4,5,7,9],index = [11,2,33,44,5])
A+B

1      NaN
2      7.0
3      NaN
4      NaN
5     16.0
11     NaN
33     NaN
44     NaN
dtype: float64

In [40]:
x = pd.Series([1,2,3,4],index = ["a","b","c","d"])
y = pd.Series([5,6,7,8],index = ["b","a","d","c"])
x+y

a     7
b     7
c    11
d    11
dtype: int64

In [42]:
x = pd.Series([1,2,3,4],index = ["a","b","c","d"])
y = pd.Series([5,6,7,8],index = ["b","a","d",3])
x+y

3     NaN
a     7.0
b     7.0
c     NaN
d    11.0
dtype: float64

In [2]:
import pandas as pd
x = pd.Series([1,2,3,4],index = ["a","b","c","d"])
y = pd.Series([5,6,7,8],index = ["b","a","d"])
x+y                #### Read the Error....

ValueError: Length of values (4) does not match length of index (3)

In [46]:
XX = pd.Series([[1,2,3,4],[5,6,7,8]])
XX

0    [1, 2, 3, 4]
1    [5, 6, 7, 8]
dtype: object

In [48]:
XY = pd.Series([(1,2,3,4),(5,6,7,8)])
XY

0    (1, 2, 3, 4)
1    (5, 6, 7, 8)
dtype: object

In [50]:
XX[0,0]

KeyError: 'key of type tuple not found and not a MultiIndex'

In [45]:
xx = pd.Series(["Welcome","to","vijAI","Aj"],index=["a","1",True,"AA"])
xx

a       Welcome
1            to
True      vijAI
AA           Aj
dtype: object

In [17]:
y[y>=4]

3    4
4    4
5    7
8    8
9    9
dtype: int64

In [8]:
a = (1,2,3,4,5,6,7,8,[1,2,3,4,5,6])
a[-1],a[-1][-1]

([1, 2, 3, 4, 5, 6], 6)

In [14]:
D2 = {"aa":[1,2,3,4]}
D2

{'aa': [1, 2, 3, 4]}

In [5]:
x = 5
y = 9
x,y = y,x

x,y

(9, 5)

In [18]:
x2 = pd.Series(["Welcome","to","vijAI"],index=[1,2,3,4])
x2        ##### Read the Error...........

ValueError: Length of values (3) does not match length of index (4)

In [12]:
D2 = {"aa":1,2,3,4}

SyntaxError: ':' expected after dictionary key (2139111789.py, line 1)

In [17]:
xx = pd.Series(["Welcome","to","vijAI"],index=["a","b","c","d"])
xx

ValueError: Length of values (3) does not match length of index (4)

In [31]:
A-B

TypeError: unsupported operand type(s) for -: 'str' and 'str'