<Font size = 5.5> DataFrame <Br> Pandas DataFrame objects are generally created from the following Data Types
    1. ndarray
    2. Dictionary
    3. List
    4. Series
    5. DataFrame

In [1]:
### Using ndarray
import pandas as pd
import numpy as np
new_data = pd.DataFrame(np.array([[1,2,3,4,5],[6,7,8,9,10]]))   ## Can only created from 2d and 1d array
new_data

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [5]:
print(new_data)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [2]:
### Using a Dictionary
dt_ =  pd.DataFrame({"a":{1:"Welcome",2:"To"},"b":{3:"Hello",4:"Hi"}})
dt_

         a      b
1  Welcome    NaN
2       To    NaN
3      NaN  Hello
4      NaN     Hi

In [3]:
import numpy as np

In [4]:
### Using a Array......
ar =  pd.DataFrame({"a":np.array([1,2,3,4,5]),"b":np.array([6,7,8,9,10])})
ar

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [5]:
### Using a Tuple
tp =  pd.DataFrame({"a":(1,2,3,4,5),"b":(6,7,8,9,10)})
tp

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [6]:
### Using a Pandas Series.......
sr =  pd.DataFrame({"a":pd.Series([1,2,3,4,5]),"b":pd.Series([6,7,8,9,10])})
sr

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

<font size = 5.5> 'set' type is unordered

In [8]:
### Using a Set
Set1 =  pd.DataFrame({"a":{1,2,3,4,5},"b":{6,7,8,9,10}})
Set1

TypeError: 'set' type is unordered

In [4]:
### Using a list
x = pd.DataFrame([[1,2,3,4,5],[11,22,33,44,55]])
x

    0   1   2   3   4
0   1   2   3   4   5
1  11  22  33  44  55

In [6]:
print(x)

    0   1   2   3   4
0   1   2   3   4   5
1  11  22  33  44  55

In [7]:
### Using a Dictionary
dict_dataframe = pd.DataFrame({"a":{1:"Welcome",2:"To"},"b":{1:"Hello",2:"Hi"}})
dict_dataframe

         a      b
1  Welcome  Hello
2       To     Hi

In [8]:
### Using a Dictionary
dict_dataframe = pd.DataFrame({"a":{1:"Welcome",2:"To"},"b":{3:"Hello",4:"Hi"}})
dict_dataframe

         a      b
1  Welcome    NaN
2       To    NaN
3      NaN  Hello
4      NaN     Hi

In [10]:
### Using a Series.......
series_df = pd.DataFrame(pd.Series({1:"a",2:"b",3:"c"},{1:"aa",2:"bb",3:"cc"}))
series_df

   0
1  a
2  b
3  c

In [11]:
### Using a Series.......
series_df = pd.DataFrame(pd.Series({1:"a",2:"b",3:"c"},{4:"aa",5:"bb",6:"cc"}))
series_df

     0
4  NaN
5  NaN
6  NaN

In [26]:
dict_df = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
dict_df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [27]:
### Using DataFrame 
df = pd.DataFrame(dict_df)
df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [28]:
df = list[df]
df

list[   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10]

In [23]:
dict_df = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
dict_df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [24]:
### Using DataFrame 
df = pd.DataFrame(dict_df)
df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [25]:
df = dict(df)
df

{'a': 0    1
 1    2
 2    3
 3    4
 4    5
 Name: a, dtype: int64,
 'b': 0     6
 1     7
 2     8
 3     9
 4    10
 Name: b, dtype: int64}

In [29]:
dict_df = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
dict_df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [32]:
dict_df = pd.Series([dict_df])
dict_df

0    0       a   b
0  1   6
1  2   7
2  3   8
3  4 ...
dtype: object

In [35]:
dict_df = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})

In [36]:
series_df = pd.DataFrame(pd.Series({1:"a",2:"b",3:"c"},{4:"aa",5:"bb",6:"cc"}))

In [37]:
dict_df + series_df

    a   b    0
0 NaN NaN  NaN
1 NaN NaN  NaN
2 NaN NaN  NaN
3 NaN NaN  NaN
4 NaN NaN  NaN
5 NaN NaN  NaN
6 NaN NaN  NaN

In [38]:
df1 = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
df2 = pd.DataFrame({"a":[11,22,33,44,55],"b":[66,77,88,99,1100]})
df1 + df2

    a     b
0  12    72
1  24    84
2  36    96
3  48   108
4  60  1110

In [39]:
df1 = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
df2 = pd.DataFrame({"a":["a","b","c","d","e"],"b":["f","g","h","i","j"]})
df1 + df2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
df1 = pd.DataFrame({"a":["aa","bb","cc","dd","ee"],"b":["ff","gg","hh","ii","jj"]})
df2 = pd.DataFrame({"a":["a","b","c","d","e"],"b":["f","g","h","i","j"]})
df1 + df2

     a    b
0  aaa  fff
1  bbb  ggg
2  ccc  hhh
3  ddd  iii
4  eee  jjj

In [42]:
df3 = pd.DataFrame([1,2,3,4,5,6,7,8])
df4 = pd.DataFrame([11,22,33,44,55,66,77,88])
df3 + df4

    0
0  12
1  24
2  36
3  48
4  60
5  72
6  84
7  96

In [43]:
df3 = pd.DataFrame([1,2,3,4,5,6,7,8])
df4 = pd.DataFrame([11,22,33,44,55,66])
df3 + df4

      0
0  12.0
1  24.0
2  36.0
3  48.0
4  60.0
5  72.0
6   NaN
7   NaN

In [46]:
df3 = pd.DataFrame([1,2,3,4,5,6,7,8])
df4 = pd.DataFrame([11,22,33,44,55,66,[111,222]])
df3 + df4

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
df3 = pd.DataFrame([1,2,3,4,5,6,7,8])
series = pd

In [48]:
df1 = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
s1 = pd.Series([1,2,3,4,5,6])
df1 + s1

    a   b   0   1   2   3   4   5
0 NaN NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN
4 NaN NaN NaN NaN NaN NaN NaN NaN

In [49]:
df1 = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
s1 = pd.Series({"a":[1,2,3,4,5,6]})
df1 + s1

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [50]:
df1 = pd.DataFrame({0:[1,2,3,4,5],1:[6,7,8,9,10]})
df1

   0   1
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [51]:
s1 = pd.Series([1,2,3,4,5,6])
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [52]:
df1 + s1

   0   1   2   3   4   5
0  2   8 NaN NaN NaN NaN
1  3   9 NaN NaN NaN NaN
2  4  10 NaN NaN NaN NaN
3  5  11 NaN NaN NaN NaN
4  6  12 NaN NaN NaN NaN

In [53]:
df1 = pd.DataFrame({0:[1,2,3,4,5],1:[6,7,8,9,10]})
s1 = pd.Series([1,2])
df1 + s1

   0   1
0  2   8
1  3   9
2  4  10
3  5  11
4  6  12